body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    margin: 0;
}

header {
    background: #e23744;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

div {
    background: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
