<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zomato DevOps Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <h1>🍽 Zomato DevOps Project</h1>
    <p>Welcome to Online Food Ordering System</p>
</header>

<section>
    <h2>Popular Restaurants</h2>

    <div>
        <h3>Domino's Pizza</h3>
        <p>Italian • Pizza • ₹299</p>
    </div>

    <div>
        <h3>KFC</h3>
        <p>Chicken • Burgers • ₹249</p>
    </div>

    <div>
        <h3>McDonald's</h3>
        <p>Burger • Fries • ₹199</p>
    </div>
</section>

<footer>
    <p>Developed using Spring Boot | Docker | Jenkins | Kubernetes</p>
</footer>

</body>
</html>
